<!-- IF $A -->

####################################################
Aero Configuation file for Forum Administrators
####################################################

Variables you can configure below:

$A_COLOUR = Default colour. Values: 'blue', 'red', 'green', 'black', 'pink', 'purple', 'teal'.
$A_LOGO = Display an image as logo, or browser-readable text? Values: 'logo', 'text'.
$A_HEADER_SEARCH = Display a search on the header. Values: 0 = disabled, 1 = enabled.
$A_PM_ALERT = Display an alert on the header when you recieve a new PM. Values: 0 = disabled, 1 = enabled.

<!-- ENDIF -->

<!-- DEFINE $A_COLOUR = 'blue' -->
<!-- DEFINE $A_LOGO = 'text' -->
<!-- DEFINE $A_HEADER_SEARCH = '1' -->
<!-- DEFINE $A_PM_ALERT = '1' -->
